label{
	display: block;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	text-align: right;
	width: 120px;
	line-height: 25px;
	font-size: 15px;
	color: white;
	text-shadow:1px 1px 3px #080808;
}
#generalform{
	padding: 20px;
	background: #006699;
	overflow: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
}
.container{
	width: 730px;
}

.feedback{
	font-size: 15px;
	padding: 5px;
	border: none;
	width: 500px;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 3px #080808;
}


.input{
	font-size: 15px;
	padding: 5px;
	border: 1px solid #b9bdc1;
	width: 500px;
	color: #505050;
}
.input:focus{
	background-color: white;
}
.textarea{
	font-family: Arial;
	height: 150px;
	width: 500px;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #b9bdc1;
	color: #505050;
}
.submit_btn{
        margin: 5px;
        font-size: 15px;
	padding: 5px;
	border: 1px solid #b9bdc1;
	width: 120px;
	background-color:#ff8410;
        color:#fff;
}
.submit_btn:hover{
    font-weight:600;
    background-color:#fff229;
    color:#01286b;
}

.submit_btn:active{
    position:relative;
    top:3px;
}
#heading{
        display: block;
        margin-bottom: 5px;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	width: 120px;
	line-height: 25px;
	font-size: 15px;
	color: white;
	text-shadow:1px 1px 3px #080808;
}
#login_container{
        margin-right: auto;
        margin-left: auto;
}
#wrapper_login{
    width:1000px;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 250px;
    padding-right:150px; 
    
}

