
*{
    padding:0px;
    margin:0px;
    list-style-type:none;
    color:#494848;
}
body{
    text-align:center;
    font-family:Arial;
    font-size:12px;
}
header,aside,nav,section,footer{
    display:block;
}
/* set the headings properties*/
h6{
    text-align: center;
    color:#FFFFFF;
    font-size: 10px;
    font-weight: normal;
}

a{
    text-decoration:none;
    font-size:14px;

}
a:link{
    color:#35578a;
    font-weight:normal;
    text-decoration: none;
    font-size:14px;
}
a:visited{
    color:#35578a;
    font-weight:normal;
    text-decoration: none;
    font-size:14px; 
}
a:hover{
    text-decoration:underline;
    color:#feaf24;
    font-weight:900;
}
a:active{
    text-decoration:underline;
    color:#feaf24;
    font-weight:900;
}
dl{
    color: #fff;
    font-weight: normal;
    margin-top:0px;
    display:block;
    margin-bottom:15px;
    padding:10px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    background-color:#01286b;
}
dt{
    padding:15px;
    margin:0px;
    text-align:center;
    border:1px;
    font-size:16px;
    font-weight:800;
    color:#fff;

}
dd{
    margin:12px auto 12px;
    padding:0px;

}
#nav_bar a{
    color:#35578a;
    font-weight:normal;
    text-decoration: none;
    font-size:14px; 

}
#nav_bar a:hover{
    text-decoration:underline;
    color:#feaf24;
    font-weight:900;
}
#nav_bar a:link,
a:visited{
    color:#35578a;
    font-weight:normal;
    text-decoration: none;
    font-size:14px; 
}
#nav_bar a:active{
    text-decoration:underline;
    color:#feaf24;
    font-weight:900;
}

.aside_a:link,a:visited{
    text-decoration: none;
    margin:0px;
    font-size:14px;
    font-weight:normal;
    color:#fff;
}
.aside_a:hover{
    background-color:#ff8410;
    color:#fff;
    font-weight:550;
    display: block;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    padding-top: 1px;
    padding-bottom: 1px;
}
#wrapper{
    width:1000px;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
}
#main_aside{
    width:238px;
    margin-top: 10px;
    margin-right: 10px;
    border-width: 1px;
    float: left;

}
#main_section{
    width:730px;
    background-color:#fff;
    border:2px solid #01286b;
    display:block;
    float:left;
    margin-top: 10px;
    margin-right: 10px;
    border-width: 1px;
    float: left;
    min-height: 400px;
    margin-bottom:15px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
#main_section a:visited{

    color:#35578a;
    font-weight:normal;
    text-decoration: none;
    font-size:14px; 

}
#main_section a:hover{
    text-decoration:underline;
    color:#feaf24;
    font-weight:900;
}
#main_section a:active{
    text-decoration:underline;
    color:#feaf24;
    font-weight:900;
}
#searchBox{
    background-color:#01286b;
    border:1px;
    clear:both;
    width:100%;
    margin-top:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
#main_footer{
    font-size:10px;
    clear:both;
    margin-top:25px;
    color:#fff;
    font-weight:700;
    background-color:#01286b;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:auto;
    padding-right:auto;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
#main_footer p{
    color:#fff;
    font-size:10px;
}
.field{
    width:35%;
    padding:5px;
    margin:5px;
    color:#808080;
    display:inline-block;
}
.rightAlign{
    text-align:right;
    float:right;
}
.leftAlign{
    text-align:left;
    float:left;
}
#search_input{
    width:500px;
}
.button{
    background-color:#ff8410;
    color:#fff;
    border:1px solid #fff229;
    height:30px;
    width:80px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    font-weight:600;

}
.button:hover{
    font-weight:600;
    background-color:#fff229;
    color:#01286b;
}

.button:active{
    position:relative;
    top:3px;
}
.rightBox{
    padding:1px;
    width:49%;
    float:right;
    text-align:left;
    color:#494848;
    font-weight:normal;
    margin-right:1px;
    margin-bottom:1px;
    border-bottom: 1px solid black;

}
.leftBox{

    width:48%;
    float:left;
    text-align:left;
    color:#494848;
    font-weight:normal;
    padding:1px;
    margin-right:1px;
    margin-bottom:1px;
    border-bottom: 1px solid black;
}
.leftBox img{
    float:left;

}
.leftBox p{
    float:right;
    margin:0px;
    padding:1px;
}
.rightBox img{
    float:left;
}
.rightBox p{
    float:right;
    margin:1px;
    padding:1px;

}
.movie_heading{
    color:#808080;
    font-size:16px;
    margin:1px 5px 1px 5px;
    padding:1px;
    text-align:center;
}
.error{
    background-color: #AA3939;
    color:#FFF;
    font-size:16px;
    text-align:center;
    font-weight: bold;
    margin:10px;
    padding:10px;
    display:block;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
.confirm{
    background-color: #01286b;
    color:#FFF;
    font-size:16px;
    text-align:center;
    font-weight: bold;
    margin:10px;
    padding:10px;
    display:block;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}

.hint{
    display:none;
}
#order_confirm{
    color:#fff;
    font-size: 14px;
    clear: both;
}
.clear{
    clear:both;
}

#heading{
        display: block;
        
	font-weight: bold;
	margin: 10px;
	text-align: center;
	width: 120px;
	line-height: 25px;
	font-size: 15px;
	color: white;
	text-shadow:1px 1px 3px #080808;
        
}
table{
	width: 100%;
	text-align: center;
}
th{
	color: #888888;
	font-weight: normal;
	text-decoration: underline;
}
td{
	padding: 3px 10px;
}
#default a:link,a:visited{
    color:black;
    text-align: none;
    text-decoration: none;
}
#default a:hover{
    color:black;
    text-decoration: none;
    font-weight: normal;
}
#default a:active{
    position: relative;
    top:2px;
    font-weight: normal;
}
#default_link a{
    color:white;
    text-align: none;
    text-decoration: none;
}
#default_link a:link,a:visited{
    color:white;
    text-align: none;
    text-decoration: none;
}
#default_link a:hover{
    color:#ff8410;
    text-decoration: none;
    font-weight: normal;
}
#default_link a:active{
    color:#ff8410;
    text-decoration: none;
    font-weight: normal;
}

